{
	"printWidth": 100,
	"quoteProps": "as-needed",
	"trailingComma": "all",
	"tabWidth": 2,
	"semi": true,
	"plugins": ["@ianvs/prettier-plugin-sort-imports"],
	"importOrder": ["<BUILTIN_MODULES>", "^w", "<THIRD_PARTY_MODULES>", "^@", "^[.]"]
}
